/*
* 
* PORQUE A ESCS
* FORMULARIO // CSS
* Trabalho para a Cadeira de Laboratorio de Aplicacoes Interativas 
* Feito por:
* Edite Fernandes, no 9939 
* Filipa Ribeiro, no 9987 
* Mariana Rita, no 9972 
* 
*/

/*=============================================
=                    FONTES                   =
=============================================*/

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.eot');
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype'), url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot');
    src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf') format('truetype'), url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Bold.eot');
    src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url('../fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoCondensed-Bold.woff2') format('woff2'), url('../fonts/RobotoCondensed-Bold.woff') format('woff'), url('../fonts/RobotoCondensed-Bold.ttf') format('truetype'), url('../fonts/RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Regular.eot');
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url('../fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'), url('../fonts/RobotoCondensed-Regular.woff') format('woff'), url('../fonts/RobotoCondensed-Regular.ttf') format('truetype'), url('../fonts/RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Light.eot');
    src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url('../fonts/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoCondensed-Light.woff2') format('woff2'), url('../fonts/RobotoCondensed-Light.woff') format('woff'), url('../fonts/RobotoCondensed-Light.ttf') format('truetype'), url('../fonts/RobotoCondensed-Light.svg#RobotoCondensed-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

/*=====  End of FONTES  ======*/

/*=============================================
=                  VARIAVEIS                  =
=============================================*/

:root {
    --color-yellow: #e9a60d;
    --color-red: #be1428;
    --color-blue-light: #3caab4;
    --color-blue: #007382;
    --color-blue-dark: #005564;
    --color-blue-darker: #101719;
    --color-white: #fff;
    --color-gray-light: #e7e7e7;
    --color-gray: #595a5c;
    --color-gray-dark: #3c3c3b;
    --color--black: #000;
    --font-primary: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --font-secondary: 'Roboto Condensed', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*=====  End of VARIAVEIS  ======*/

/*=============================================
=                    RESET                    =
=============================================*/

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*=====  End of RESET  ======*/

/*=============================================
=               GENERAL STYLING               =
=============================================*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    scroll-behavior: smooth;
    /*transition: all .5s ease-in-out;*/
}

body, html {
    font-size: 16px;
    background-color: var(--color-blue-darker);
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
    margin: 20px 0px;
}

h1 {
    font-size: 1.5rem;
    color: var(--color-white);
}

p, label {
    font-family: var(--font-secondary);
    font-size: 1.3rem;
    color: var(--color-white);
    font-weight: 300;
    opacity: 1;
    line-height: 1.5rem;
}

p {
    margin-bottom: 20px;
}

#progress-bar {
    position: fixed;
    height: 0%;
    width: 10px;
    background: var(--color-blue);
    z-index: 99;
    right: 0;
}

.filler {
    width: 100%;
    height: 10vh;
    max-width: 100%;
}

/*=====  End of GENERAL STYLING  ======*/

/*=============================================
=           INPUTS GENERAL STYLING            =
=============================================*/

input, input[type="text"] {
    background: transparent;
    font-size: 1.5rem;
    color: var(--color-white);
    padding: 5px 10px;
    border: none;
    border-bottom: 2px solid var(--color-blue-light);
    font-family: var(--font-secondary);
    width: 100%;
    display: inline-block;
    font-weight: 300;
}

input[type="button"], input[type="submit"] {
    font-size: 16px;
    font-weight: 400;
    /*color: var(--color-blue-light);
    border: 2px solid var(--color-blue-light);*/
    cursor: pointer;
    padding: 10px 20px;
    width: auto;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    /*display: block;*/
    margin: 20px 0px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
}

input[type="button"]:hover, input[type="submit"]:hover {
    /* background-color: var(--color-blue-light); */
    color: white;
}

/*=====  End of INPUTS GENERAL STYLING  ======*/

/*=============================================
=                BUTTONS & CTA                =
=============================================*/

.next {
    border: 2px solid var(--color-blue-light);
    color: var(--color-blue-light);
    background-color: transparent;
}

.next:hover {
    background-color: var(--color-blue-light);
    color: var(--color-white);
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.button--cta {
    padding: 15px;
    background: transparent;
    border: 2px solid var(--color-blue-light);
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1.1rem;
    color: var(--color-blue-light);
    font-family: var(--font-secondary);
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.button--cta:hover {
    background: var(--color-blue-light);
    border: 2px solid var(--color-blue-light);
    color: var(--color-blue-light);
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.submit {
    border: 2px solid var(--color-red);
    color: var(--color-red);
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.submit:hover {
    display: inline-block;
    background-color: var(--color-red);
    color: var(--color-white);
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.review {
    border: 2px solid var(--color-yellow);
    color: var(--color-yellow);
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    display: inline-block;
}

.review:hover {
    background-color: var(--color-yellow);
    color: var(--color-white);
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

/*=====  End of BUTTONS & CTA  ======*/

/*=============================================
=               SLIDER INICIAL                =
=============================================*/

section {
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
}

.center-align {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    /* height: 80%; */
    position: relative;
    /* max-width: 100%; */
    background-color: var(--color-blue-darker);
    position: absolute;
    z-index: 1;
}

.section__header {
    position: relative;
    justify-self: flex-end;
    padding: 80px;
    padding-left: 0;
    padding-top: 0;
}

/* "PORQUE A" */

.big-title {
    font-size: 6rem;
    font-weight: normal;
    margin: 0;
    z-index: 99;
}

/* "ESCS" */

h1.section__header--bigger {
    font-size: 10rem;
    font-weight: normal;
    margin: 0;
    z-index: 99;
}

/* PEQUENA QUOTE */

.section__text {
    /* display: grid; */
    position: relative;
    justify-self: flex-start;
    width: 100%;
}

.section__text__quote {
    padding: 80px;
    position: absolute;
    top: 0;
    left: 0;
}

.section__text__quote p {
    font-size: 1.1rem;
    margin-bottom: 0;
}

/* LINHAS DO LADO DO TITULO */

.line--horizontal {
    height: 2px;
    width: 40%;
    background-color: var(--color-blue-light);
    position: absolute;
    bottom: 0;
}

.line--vertical {
    height: 25%;
    width: 2px;
    background-color: var(--color-blue-light);
    position: absolute;
    right: 0;
    bottom: 30%;
}

/* LOGO DA ESCS NO FUNDO */

img.section__header__image {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    opacity: .2;
    z-index: -1;
}

/*=====  End of SLIDER INICIAL  ======*/

/*=============================================
=                     FORM                    =
=============================================*/

.form-wrapper {
    display: none;
    position: absolute;
}

form {
    min-height: 999px;
    width: 70%;
    margin: 0 auto;
    max-height: 100%;
    /* z-index: 2; */
}

.form-section {
    padding-top: 20vh;
    /* padding: 40px 0; */
    opacity: .2;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
}

.form-section:first-child {
    opacity: 1;
}

.final {
    /* width: 100vw; */
    /* height: 100vh; */
    display: -ms-grid;
    display: grid;
    padding: 30vh 0vh;
}

.no-padding {
    padding-top: 10vh;
    /* padding: 10vh; */
}

/*----------  PEQUENA GRELHA  ----------*/

._2col {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

/*=====  End of FORM  ======*/

/*=============================================
=            RADIO SELECT GENERO              =
=============================================*/

.form-gender-wrapper {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 150px;
    margin: 20px 1% 20px 0;
    height: 200px;
    vertical-align: top;
    font-size: 22px;
    text-align: center;
}

.gender-radio-label {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%;
    padding: 10px 10px 30px 10px;
    cursor: pointer;
    opacity: .5;
}

.gender-radio-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.gender-radio-input:hover~.gender-radio-label {
    background-color: var(--color-blue-light);
}

.gender-radio-input:checked~.gender-radio-label {
    opacity: 1;
}

.gender-radio-label img {
    max-height: 100%;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.gender-radio-label p {
    margin: 10px;
}

/*=====  End of RADIO SELECT GENERO  ======*/

/*=============================================
=             RADIO SELECT CURSO              =
=============================================*/

.curso-input input {
    display: inline-block;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
}

.curso-input label {
    DISPLAY: inline-block;
}

/*=====  End of RADIO CURSO  ======*/

/*=============================================
=           GENERAL RADIO & CHECKBOX          =
=============================================*/

.general-checkbox-custom, .general-radio-input {
    opacity: 0;
    position: absolute;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.general-checkbox-custom, .general-checkbox-custom-label, .general-radio-input, .general-radio-input-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.general-checkbox-custom-label, .general-radio-input-label {
    position: relative;
}

.general-checkbox-custom+.general-checkbox-custom-label:before, .general-radio-input+.general-radio-input-label:before {
    content: '';
    background: transparent;
    border: 2px solid var(--color-blue-light);
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.general-checkbox-custom:checked+.general-checkbox-custom-label:before {
    background: var(--color-blue-light);
    -webkit-box-shadow: inset 0px 0px 0px 4px var(--color-blue-darker);
    box-shadow: inset 0px 0px 0px 4px var(--color-blue-darker);
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transition: -webkit-box-shadow .3s .001s;
    transition: -webkit-box-shadow .3s .001s;
    -o-transition: box-shadow .3s .001s;
    transition: box-shadow .3s .001s;
    transition: box-shadow .3s .001s, -webkit-box-shadow .3s .001s;
}

.general-radio-input+.general-radio-input-label:before {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.general-radio-input:checked+.general-radio-input-label:before {
    background: var(--color-blue-light);
    -webkit-box-shadow: inset 0px 0px 0px 4px var(--color-blue-darker);
    box-shadow: inset 0px 0px 0px 4px var(--color-blue-darker);
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transition: -webkit-box-shadow .3s .001s;
    transition: -webkit-box-shadow .3s .001s;
    -o-transition: box-shadow .3s .001s;
    transition: box-shadow .3s .001s;
    transition: box-shadow .3s .001s, -webkit-box-shadow .3s .001s;
}

.general-checkbox-custom:disabled+.general-checkbox-custom-label:before {
    border: 2px solid var(--color-gray-dark);
    background: var(--color-gray-dark);
    -webkit-box-shadow: inset 0px 0px 0px 4px var(--color-blue-darker);
    box-shadow: inset 0px 0px 0px 4px var(--color-blue-darker);
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transition: -webkit-box-shadow .3s .001s;
    transition: -webkit-box-shadow .3s .001s;
    -o-transition: box-shadow .3s .001s;
    transition: box-shadow .3s .001s;
    transition: box-shadow .3s .001s, -webkit-box-shadow .3s .001s;
}

/*=====  End of GENERAL RADIO & CHECKBOX  ======*/